<!-- <h4>Record Quantity</h4> -->
<div class='modal-body'>
  <div class="form-group row">
  <label for="goodQty" class="col-md-4 col-form-label">Good Quantity</label>
  <div class="col-md-8"><input id="goodQty" type="number" min="0" value="0"></div>
  </div>
  <div class="form-group row app-scrapQty">
    <label for="scrapQty" class="col-md-4 col-form-label">Scrap Quantity</label>
    <div class="col-md-8"><input id="scrapQty" type="number" min="0" value="0"></div>
  </div>
  <div id="reasonCodeGroup" class="form-group row app-scrapQty" style="display:none">
    <label for="reasonCodeSelect" class="col-md-4 col-form-label">Reason Code</label>
    <div class="col-md-8">
      <select id="reasonCodeSelect" disabled>
      </select>
    </div>
  </div>
</div>