<div class="form-group row">
    <label for="opStatus" class="col-md-4 col-form-label">Operation Status</label>
    <div class="col-md-8">
      <!-- <select id="opStatus">
      </select> -->
      <div class="radio" *ngFor="let status of jobstatuses">
        <label>
          <input type="radio" name="status" 
             [value]="status"
             [checked]="status==selected"> 
             <!-- ngModel -->
          {{status}}
        </label>
      </div>
      <!-- <input type="radio" name="opStatus" value="held">Held<br>
      <input type="radio" name="opStatus" value="started">Started<br>
      <input type="radio" name="opStatus" value="active" checked>Active<br>
      <input type="radio" name="opStatus" value="completed">Completed<br> -->
    </div>
</div>
