<div class="grid">
  <div class="header">
    <app-site></app-site>
    <app-workcenter></app-workcenter>
    <app-operator></app-operator>
  </div>
  <div class="menu">
    <app-modal2></app-modal2>
    <app-command-menu></app-command-menu>
    <!-- <div id="sidemenu" class="btn-group-vertical btn-group-lg">
    </div> -->
  </div>
  <app-job-detail class="details"></app-job-detail>
  <app-job-list class="joblist"></app-job-list>
  <!-- <div class="joblist"> -->
  <router-outlet></router-outlet>
  <!-- </div> -->
  <!-- <app-app-modal></app-app-modal> -->
  <div class="footer">
  </div>
</div>
